
html, body {
  height: 100%;
  width:100%;
  font-family: Roboto,sans-serif;
  font-size: 81.25%;
}

// BOOTSTRAP CAROUSEL
.carousel-indicators li, .carousel-control{display: none!important}
.carousel-inner > .item.carousel-item,.carousel-inner > .item.carousel-item > .item,
.carousel-inner > .item.carousel-item > .item > img,
.carousel-inner> .item.carousel-item > .item > a > img{
  width: 100%; /* use this, or not */
  margin: auto;
}

// HELPER

.p-4 {
  padding:4em;
}

.sofb-subheader{
  margin-top: -25px;
  background-color: rgba(0,0,0,0.4);
  h2{
    color:white;
    padding: 0.2rem 1.8rem;

  }
}