.list-inline {
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-inline > div {
    align-items: center;
    padding-right: 5px;
    color: #999;
}

.list-inline > div a {
    color: #999;
    font-size: 1.0em
}

.list-inline > div a:hover {
    color: #ffffff;
    font-size: 1.0em
}

.social{padding:2em}