.sofb-magazines {
  background-color: #f5f5f5;
}
.wrap-magazine-items{
    padding: 0;
    margin: 0 -20px 20px 0;
}

.wrapper-items{
 padding:4em;
}
@media (max-width: 765px){
    .wrapper-items{
        padding:0.5em;
    }
}

.magazine-item {
    padding: 0;
    float: left;
    margin: 0;
&:hover .overlay {
     opacity: 1;
.preview:hover{color:white}
.btn-outline-dark{
    color:black;
    border:1px solid black;
}
.btn-outline-dark:hover {
    color: white;
    background-color: black;
}
}
.item-inner {
    background: #fff;
    border: 1px solid #eee;
    padding: 10px;
    margin: 0 20px 20px 0;
    position: relative;
}
img {
    width: 100%;
}
h5 {
    background: #fff;
    margin: 0;
    padding: 10px 0;
    font-weight: 700;
    font-size: 14px;
    color: #2c3e50;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(255, 255, 255, 0.9);
    text-align: center;
    vertical-align: middle;
    -webkit-transition: opacity 300ms;
    -moz-transition: opacity 300ms;
    -o-transition: opacity 300ms;
    transition: opacity 300ms;
.preview {
    position: relative;
    top: 50%;
    display: inline-block;
    margin-top: -20px;
}
}

}